{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="hero">

    <div class="hero-left">
        <h1 class="headline">
            PRECISION TRACKING <br>
            FOR ELITE CAREERS
        </h1>

        <p class="subtitle">
            Stay organized, monitor your job applications, and
            accelerate your journey to success with smart analytics.
        </p>

      <div class="hero-buttons">
            <a href="#feature-tracker" class="btn-primary">Get Started</a>
            <a href="#explore-section" class="btn-secondary">Explore Features</a>
       </div>
    </div>

    <div class="hero-right">
        <img src="https://st.depositphotos.com/62628780/60967/i/1600/depositphotos_609677544-stock-photo-motivation-success-yes-business-man.jpg" alt="Job Success">
    </div>

    </section>


    <section id="feature-tracker" class="feature-tracker">

    <div class="feature-container">

        <div class="feature-text">
            <h2>Smart Job Application Tracker</h2>

            <p>
                Stay organized and manage all your job applications in one place.
                Track application status, monitor interview progress, and keep
                every opportunity under control with an intuitive tracking system.
            </p>

            <a href="{% url 'tracker' %}" class="btn-first">See More</a>
        </div>

        <div class="feature-image">
            <img src="https://images.unsplash.com/photo-1552664730-d307ca884978?q=80&w=1170&auto=format&fit=crop"
                 alt="Job Tracker">
        </div>

    </div>

    </section>

    <section class="career-hero">

    <div class="career-hero-container">

        <!-- LEFT IMAGE -->
        <div class="career-hero-image">
            <img src="{% static 'images/dashboard.webp' %}" alt="Dashboard">
        </div>

        <!-- RIGHT CONTENT -->
        <div class="career-hero-content">

            <div class="career-logo">
                JobTracker <span>Pro</span>
            </div>

            <h2>
                Organize Your Career Growth <br>
                With Precision & Clarity
            </h2>

            <p>
                Track job applications, manage resumes, store professional
                details, and monitor progress — all in one intelligent dashboard.
            </p>

            <a href="{% url 'dashboard' %}" class="career-btn">
                Start Tracking →
            </a>

        </div>

    </div>

    </section>

    <section id="explore-section"  class="explore-section">

    <div class="explore-container">

        <h2 class="explore-heading">Explore JobTracker</h2>

        <div class="explore-cards">

            <a href="{% url 'information' %}" class="explore-card">
            <img src="{% static 'images/public_service.webp' %}" alt="Why JobTracker">
            <h3>Why JobTracker</h3>
            <p>
                Stay organized and eliminate confusion during your job search.
                JobTracker keeps every application, deadline, and update in one place.
            </p>
            </a>

        
            <div class="explore-card">
                <img src="{% static 'images/personal_growth.webp' %}" alt="Features">
                <h3>Our Features</h3>
                <p>
                    Track applications, monitor status, manage resumes, and
                    view progress through an intelligent dashboard.
                </p>
            </div>

            <div class="explore-card">
                <img src="{% static 'images/developer.webp' %}" alt="Developer">
                <h3>About Developer</h3>
                <p>
                    Designed and developed by Siddhesh Thorat, an emerging Full Stack Python Developer
                </p>
            </div>

        </div>

    </div>

</section>
    

{% endblock %}