{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="hero">

    <div class="hero-left">
        <h1 class="headline">
            PRECISION TRACKING <br>
            FOR ELITE CAREERS
        </h1>

        <p class="subtitle">
            Stay organized, monitor your job applications, and
            accelerate your journey to success with smart analytics.
        </p>

        <div class="hero-buttons">
            <a href="#" class="btn-primary">Get Started</a>
            <a href="#" class="btn-secondary">Explore Features</a>
        </div>
    </div>

    <div class="hero-right">
        <img src="https://st.depositphotos.com/62628780/60967/i/1600/depositphotos_609677544-stock-photo-motivation-success-yes-business-man.jpg" alt="Job Success">
    </div>

    </section>


    <section class="feature-tracker">

    <div class="feature-container">

        <div class="feature-text">
            <h2>Smart Job Application Tracker</h2>

            <p>
                Stay organized and manage all your job applications in one place.
                Track application status, monitor interview progress, and keep
                every opportunity under control with an intuitive tracking system.
            </p>

            <a href="#" class="btn-first">See More</a>
        </div>

        <div class="feature-image">
            <img src="https://images.unsplash.com/photo-1552664730-d307ca884978?q=80&w=1170&auto=format&fit=crop"
                 alt="Job Tracker">
        </div>

    </div>

    </section>

    

{% endblock %}