{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareerTrack</title>

    <meta property="og:title" content="CareerTrack - Job Application Tracker" />
    <meta property="og:description" content="A full-stack Django app to manage and track job applications, interviews, and deadlines in one place." />
    <meta property="og:image" content="https://job-tracking-application-f6p9.onrender.com/static/preview.png" />
    <meta property="og:url" content="https://job-tracking-application-f6p9.onrender.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="CareerTrack" />

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/information.css' %}">
</head>
<body>


<header class="navbar">
    <div class="nav-container">

        <div class="logo">
            CareerTrack
        </div>

        <nav>
            <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="features-dropdown">

    <a href="#" id="featuresToggle">Features</a>

    <div class="features-panel" id="featuresPanel">
        <ul>
            <li><a href="{% url 'tracker' %}">Job Tracker</a></li>
            <li><a href="{% url 'dashboard' %}">Personal Dashboard</a></li>
            <li><a href="{% url 'information' %}">About Us</a></li>
        </ul>
    </div>

    </li>
            <li><a href="{% url 'developer' %}">Developer</a></li>

            </ul>
        </nav>

    </div>
</header>



{% block content %}
{% endblock %}


<footer class="footer">
    <div class="footer-container">

        <p>© 2026 CareerTrack</p>

        <div class="footer-links">
            <a href="https://www.linkedin.com/in/siddhesh-thorat-494123373/">LinkedIn</a>
            <a href="https://github.com/sidddhesh-dev">GitHub</a>
            <a href="{% url 'developer' %}">Contact</a>
        </div>

    </div>
</footer>

</body>

<script>
const toggle = document.getElementById("featuresToggle");
const panel = document.getElementById("featuresPanel");

toggle.addEventListener("click", function(e) {
    e.preventDefault();
    panel.classList.toggle("show");
});

// close if clicked outside
document.addEventListener("click", function(e) {
    if (!toggle.contains(e.target) && !panel.contains(e.target)) {
        panel.classList.remove("show");
    }
});
</script>
</html>