% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="hero-left">

    <div class="profile-img-wrapper">
        <img id="preview"
             src="{% if profile.photo %}{{ profile.photo.url }}{% else %}{% static 'images/default.png' %}{% endif %}">
        
        <label class="upload-overlay">
            Change Photo
            <input type="file" name="photo" onchange="previewImage(event)">
        </label>
    </div>

</div>

<div class="hero-right">
    <input class="name-field" name="full_name" placeholder="Your Full Name">
    <textarea class="bio-field" name="bio"
    placeholder="Write a short professional summary about yourself..."></textarea>
</div>
<div class="edu-card">
    <input name="college1" placeholder="College Name">
    <input name="degree1" placeholder="Degree">
    <input name="stream1" placeholder="Stream">
    <input name="percentage1" placeholder="Percentage">
</div>

<div class="edu-card">
    <input name="college2" placeholder="College Name">
    <input name="degree2" placeholder="Degree">
    <input name="stream2" placeholder="Stream">
    <input name="percentage2" placeholder="Percentage">
</div>
<div class="project-card">
    <input name="p1_title" placeholder="Project Title">
    <input name="p1_tools" placeholder="Tools & Technologies">
    <textarea name="p1_desc" placeholder="Project Description"></textarea>
</div>

<div class="project-card">
    <input name="p2_title" placeholder="Project Title">
    <input name="p2_tools" placeholder="Tools & Technologies">
    <textarea name="p2_desc" placeholder="Project Description"></textarea>
</div>

<div class="project-card">
    <input name="p3_title" placeholder="Project Title">
    <input name="p3_tools" placeholder="Tools & Technologies">
    <textarea name="p3_desc" placeholder="Project Description"></textarea>
</div>

{% endblock %}