body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f8fafc;
}

/* NAVBAR */
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    z-index: 1000;
}

.nav-container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: #0f172a;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #334155;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #2563eb;
}

.cta-btn {
    background: #2563eb;
    color: white;
    padding: 8px 18px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.cta-btn:hover {
    background: #1d4ed8;
}

.footer {
    background: #0f172a;
    color: white;
    margin-top: 80px;
}

.footer-container {
    width: 90%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #60a5fa;
}

.features-dropdown {
    position: relative;
}

/* panel style */
.features-panel {
    position: absolute;
    top: 45px;
    left: 0;
    width: 260px;
    background: white;
    padding: 18px 20px;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.15);

    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    transition: 0.25s ease;
    z-index: 999;
}

/* when active */
.features-panel.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.features-panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.features-panel li {
    padding: 8px 0;
}

.features-panel a {
    text-decoration: none;
    color: #0f172a;
    font-size: 15px;
}